<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwjf.mapper.RoleMenuMapper">
	<!-- 查询角色所拥有的菜单信息 -->
 	<select id="getRoleMenuByRoleId" parameterType="Integer"  resultType="int">
 		select menuId from roleMenu where roleId=#{roleId} 
 	</select>
 	<!-- 删除权限相关信息 -->
 	<delete id="deleteByMenuId" parameterType="int">
 		delete from roleMenu where menuId=#{menuId}
 	</delete>
 	<!-- 删除关于角色的所有菜单 -->
 	<delete id="deleteByRoleId" parameterType="int">
 		delete from roleMenu where roleId=#{roleId}
 	</delete>
 	<!-- 保存权限信息 -->
 	<insert id="saveRoleMenu" parameterType="roleMenu">
 		insert into roleMenu(menuId,roleId)
 		values(#{menuId},#{roleId})
 	</insert>
</mapper>