<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwjf.mapper.TownMapper">
	<!-- 获取所有城市名称相关信息 -->
	<select id="getAllName" parameterType="int" resultType="String">
		select name from town where status=#{status}
	</select>
	<!-- 获取id通过名字 -->
	<select id="getIdByName" parameterType="String" resultType="int">
		select townId from town where name=#{_parameter}
	</select>
	<!-- 通过id获取名字 -->
	<select id="getNameById" parameterType="int" resultType="String">
		select name from town where townId=#{townId}
	</select>
</mapper>